.newsletter {
	display: block;
}

.newsletter__label {
	display: block;
	padding-bottom: 20px;
	font-weight: bold;
	font-size: 14px;
	line-height: 1.1429;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #ffffff;
}
.newsletter__input {
	padding: 15px;
	padding-right: 0;
	width: 358px;
	height: 50px;
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 4px;
	font-size: 16px;
	line-height: 1.25;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
}

.newsletter__input :focus {
	outline: 0;
}
